@charset "UTF-8";
/*
    多行注释会被编译
*/
.box1 {
  width: 123px;
  height: 123px;
  margin: auto;
}

.box4 {
  width: 123px;
  height: 4;
}

ul {
  list-style: none;
}

ul:hover {
  background: red;
}

ul li {
  float: left;
}

ul li div {
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: 宋体;
}

ul li p {
  margin: 4px;
}

.box4 {
  width: 300px;
  font: 20px / 1.5;
  padding: 20px / 1.5;
  padding: 13.33333px;
  color: #020406;
}

.box5 {
  width: 4;
  height: 20%;
  margin: 0.99117;
  font-size: sum(3px, 5px);
}

.box6 {
  font-size: 8px;
}

.box7 {
  display: block;
  width: 200px;
}

.line, .box9 {
  display: inline;
}

.box9 {
  height: 800px;
}

.box11 {
  width: 300px;
}

@media all and (min-width: 768px) {
  .box11 {
    width: 600px;
  }
}

.box11 {
  width: 500;
}

.box-0 {
  width: 100px;
}

.box-1 {
  width: 101px;
}

.box-2 {
  width: 102px;
}

.box-3 {
  width: 103px;
}
